absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
antlr4-python3-runtime
anyio
appdirs
async-timeout
attrs
auto-gptq
beautifulsoup4
bitsandbytes
brotlipy
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
ctransformers
cycler
dataclasses-json
datasets
dill
diskcache
docker-pycreds
EbookLib
effdet
einops
emoji
et-xmlfile
exceptiongroup
exllama
fastapi
ffmpy
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
future
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
gradio
gradio_client
greenlet
grpcio
h11
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
iopath
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langchain
langsmith
layoutparser
linkify-it-py
llama-cpp-python
#llama-cpp-python-cuda
llama-index
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdit-py-plugins
mdurl
mkl-fft
mkl-random
mkl-service
mpmath
msg-parser
multidict
multiprocess
mypy-extensions
nebula3-python
nest-asyncio
networkx
nltk
numexpr
numpy
oauthlib
olefile
omegaconf
onnxruntime
openai
opencv-python
openpyxl
orjson
packaging
pandas
pathtools
pdf2image
pdfminer.six
pdfplumber
peft
Pillow
portalocker
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydub
Pygments
pyOpenSSL
pypandoc
pyparsing
pypdfium2
PySocks
pytesseract
python-dateutil
python-docx
python-magic
python-multipart
python-pptx
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rouge
rpds-py
rsa
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tesseract
threadpoolctl
tiktoken
timm
tokenizers
toolz
#torch
#torchaudio
#torchvision
tqdm
transformers
triton
typing-inspect
typing_extensions
tzdata
uc-micro-py
unstructured
unstructured-inference
urllib3
uvicorn
wandb
websockets
Werkzeug
wikipedia
xlrd
XlsxWriter
xxhash
yarl
